{% include 'header.html' %}

<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <div class="row">
            <div class="col-md-12 text-center">
            <h1>Peer Essay Review</h1>
            <p align = "center" >Have you ever gotten points taken off of one of your papers for simple mistakes? And afterwards you are angry at youself because you could have gotten a 100? Well with Peer Check, you can get the easy 100 all the time. All you have to do is submit your paper, the subject it protans to, and your deadline. By the deadline, you will have plenty of opinions about your paper, and corrections with them. You could also edit other papers, and get volunteer hours for every paper you succesfully edit.</p>
            <p align ="center"><a href="/register" class="btn btn-primary btn-large">Sign Up!</a>
            </p>
          </div>
        </div>
        </header>

        <br>

            <hr>


    </div>
    <!-- /.container -->

{% include 'footer.html' %}