{% include 'header.html' %}

<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">

            <br>
            <br>
            <p align ="center"> <i> After using Peer Check, your assignments will no longer be subjected to bad grades due to unforeseen mistakes. </i></p>
            <br>
            <p align="center"><a href="/register" class="btn btn-primary btn-large">Sign Up!</a>
            </p>
        </header>

        <br>




    </div>
    <!-- /.container -->

{% include 'footer.html' %}